.wrapper {
  @apply w-full rounded-[12px] border-[1px] border-[#DEE0E3] px-[24px];

  .legendWrapper {
    @apply flex items-center gap-[11px];
    .svg {
    }
    .titleWrapper {
      @apply flex items-center justify-evenly gap-[25px] text-[14px] font-normal text-[#686E78];
      span {
        @apply first-of-type:w-[75px];
      }
    }
  }
}
