.wrapper {
  @apply m-0 flex h-screen w-screen flex-col p-0;
  .nav {
    @apply border-b-[1px] border-[#DEE0E380] bg-[#FFFFFF] py-[27px] pr-[56px];
  }

  .main {
    @apply relative h-full max-h-[calc(100vh-90px)] w-full overflow-scroll bg-[#F9F9FB];
  }
}
