.wrapper {
  @apply flex flex-col gap-[24px] justify-between items-start py-[54px] px-[32px];
  h1 {
    @apply text-[28px] text-[#1B1D22] font-medium;
  }
  .tableOuterWrapper {
    @apply w-full flex items-center justify-center;
    ul {
      @apply rounded-[12px] border-[1px] border-[#DEE0E3] bg-[#FFFFFF] w-[676px];
      .header {
        @apply text-[#1B1D22] text-[22px] font-medium p-[24px] border-b-[1px];
      }
      .item {
        @apply py-[10px] flex items-center justify-between px-[24px] border-b-[1px];
        .span {
          @apply text-[#1B1D22] text-[18px];
        }
        .btn {
          @apply rounded-[12px] bg-[#00AEEF] px-[76px] py-[8px] text-[18px] text-[#FDFDFF] font-normal cursor-pointer;
        }
      }
    }
  }
}
