.actions {
  @apply flex items-center justify-end gap-[35px] pl-[70px];
  .selectTrigger {
    @apply border-[1px] border-[#DEE0E3] rounded-[12px] py-[8px] px-[16px] w-[160px] h-[44px] flex flex-row-reverse;
    width: 160px !important;
    height: 44px !important;
    border-radius: 12px !important;
  }

  .selectContent {
    .selectItem {
      @apply text-right;
    }
  }

  .totalAnalysis {
    @apply flex items-center gap-[10px] px-[16px] py-[8px] border-[1px] border-[#686E78] rounded-[12px] text-[#686E78] text-[16px] font-normal;
  }
}
