.wrapper {
  @apply flex h-[40px] w-[288px] items-center gap-[10px] rounded-[12px] border-[1px] border-[#DEE0E3] bg-[#FFFFFF] px-[16px] py-[8px];

  .input {
    @apply border-0 px-0 text-[16px] shadow-none focus:ring-0;
  }
}
