.wrapper {
  @apply flex h-full flex-col justify-between gap-[32px] px-[32px] pb-[32px] pt-[48px];
  .topSection {
    @apply flex w-full items-center justify-end;
    .btnGroup {
      @apply flex items-center gap-[24px];
      .downloadLink {
        @apply text-[18px] font-normal text-[#00AEEF];
      }
    }
  }
}
