.expandedTableRow {
  .tableCell {
    @apply p-0;
    .innerTable {
      @apply bg-[#FCFCFC];
      .tableHeader {
        .subTableHeader {
          @apply h-[73px] border-b-[1px];
          .subTableHead {
            @apply pr-[24px] text-right text-[16px] font-normal text-[#686E78];
          }
        }
      }

      .tableBody {
        .tableRow {
          @apply h-[73px];
        }
        .skeletonWrapper {
          @apply h-[76px];
          .tableCell {
            @apply first-of-type:pr-[26px];
          }
          .square {
            @apply h-[24px] w-[24px];
          }
          .rect {
            @apply h-[28px];
          }

          .rectSm {
            @apply w-[42px];
          }

          .rectMd {
            @apply w-[150px];
          }

          .rectLg {
            @apply w-[250px];
          }
        }
      }
    }
  }
}
